.accountCard {
    position: relative;

    height: 10vh;
    width: 37.5vh;
    
    transition: .1s;

    background: #292929;
    border-radius: .5vh;

    margin: 1vh;

    cursor: pointer;

    &:hover {
        background: #343434;
    }

    .accountInformation {
        margin-left: 1vh;
        user-select: none;
        color: rgb(232, 232, 232);

        padding-top: .4vh;

        .accountName {
            user-select: none;
            font-family: 'AspectDev';
            user-select: none;
            font-size: 2.5vh;
        }

        .accountBalance {
            user-select: none;
            font-family: 'AspectDevelopment';
            user-select: none;
            font-size: 2vh;

            text-shadow: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.583);
            color: rgb(209, 209, 209);
        }

        .accountType {
            user-select: none;
            font-family: 'AspectDevelopment';
            user-select: none;
            font-size: 2vh;
        }
    }

    .accountActions {
        position: absolute;
        display: flex;

        justify-content: center;
        
        left: 0;
        right: 0;

        bottom: 0;

        padding: 1vh;
        
        margin-left: auto;
        margin-right: auto;
    
        align-items: center;
        text-align: center;
    
        .actionButton {
            width: 12vh
        }
    }
}