.accountCard {
    position: relative;

    height: 15vh;
    width: 37.5vh;

    background: #2f2f2f;
    border-radius: .5vh;

    margin: 1vh;

    .accountInformation {
        margin-left: 1vh;
        user-select: none;
        color: rgb(232, 232, 232);

        .accountName {
            margin-top: 0.2vh;
            font-family: 'AspectDev';
            user-select: none;
            font-size: 2.5vh;
        }

        .accountBalance {
            font-family: 'AspectDevelopment';
            user-select: none;
            font-size: 2vh;
            color: rgb(209, 209, 209);
        }

        .accountType {
            margin-top: 0.2vh;
            font-family: 'AspectDevelopment';
            user-select: none;
            font-size: 2vh;
        }
    }

    .accountActions {
        position: absolute;
        display: flex;

        justify-content: center;
        
        left: 0;
        right: 0;

        bottom: 0;

        padding: 1vh;
        
        margin-left: auto;
        margin-right: auto;
    
        align-items: center;
        text-align: center;
    
        .actionButton {
            width: 12vh
        }
    }
}