.Sidebar {
    position: relative;

    width: 40vh;
    height: 85.5%;

    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.427));

    // background-color: #1f1e1f;

    overflow-y: scroll;
}

.accountsCategoryHeader {
    position: relative;

    width: 37.4vh;

    margin-top: 2vh;
    margin-left: 1.1vh;
    border-radius: .5vh;

    font-family: 'Aspect';
    font-size: 3vh;
    color: #f4f4f4;

    padding: 1vh;

    text-decoration: underline;
    text-shadow: 2px 2px 3px black;
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.283));
}