.Sidebar {
    position: relative;

    width: 40vh;
    height: 85.5%;

    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.427));

    // background-color: #1f1e1f;

    overflow-y: scroll;
}

.personalAccountsHeader {
    justify-content: center;
    width: fit-content;

    margin-top: .65vh;
    margin-left: 1.1vh;

    font-family: 'Aspect';
    font-size: 3vh;
    color: #f4f4f4;

    text-align: center;
    text-decoration: underline;
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.283));
}

.businessAccountsHeader {
    justify-content: center;
    width: fit-content;

    margin-top: 2vh;
    margin-left: 1.1vh;

    font-family: 'Aspect';
    font-size: 3vh;
    color: #f4f4f4;

    text-align: center;
    text-decoration: underline;
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.283));
}