.Sidebar {
    position: relative;

    width: 40vh;
    height: 82%;

    background-color: #1f1e1f;

    overflow-y: scroll;
}

.personalAccountsHeader {
    justify-content: center;
    width: fit-content;

    margin-top: 2vh;
    margin-left: 1.5vh;

    font-family: 'Aspect';
    font-size: 3vh;
    color: #f4f4f4;

    text-align: center;
    text-decoration: underline;
    // border-bottom: 1px solid green;
}

.businessAccountsHeader {
    justify-content: center;
    width: fit-content;

    margin-top: 2vh;
    margin-left: 1.5vh;

    font-family: 'Aspect';
    font-size: 3vh;
    color: #f4f4f4;

    text-align: center;
    text-decoration: underline;
    // border-bottom: 1px solid green;
}