.App {
    position: absolute;
    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
    
    z-index: 0;

    .BankAppContainer {
        position: absolute;
        overflow: hidden;
        
        height: 90%;
        width: 85%;
        
        bottom: -40%;
        left: 50%;
        
        transform: translate(-50%, -50%);

        background-color: #1f1e1f;
        // filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.541));

        background-size: cover;
        background-position: center;

        opacity: 1;
        transition: 1s;
        z-index: -1;
    }
}