.header {
    // background-color: #1f1e1f;

    height: 12vh;
    width: 100%;

    border-bottom: .5vh solid green;
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.466));

    .logo {
        user-select: none;
        height: 7.5vh;
        margin-top: 2vh;
        margin-left: 2vh;
    }

    .CharacterName {
        user-select: none;
        position: relative;
        float: right;
        
        top: 2.5vh;
        right: 2vh;

        font-family: 'Aspect';
        font-size: 3vh;
        color: white;
    
        width: fit-content;

    }

    .CashAmount {
        user-select: none;
        position: absolute;
        float: right;
        
        top: 6vh;
        right: 2vh;

        width: fit-content;

        font-family: 'Aspect';
        font-size: 2vh;
        color: rgb(204, 204, 204);
    }
}