.header {
    background-color: rgba(128, 128, 128, 0.197);

    height: 15vh;
    width: 100%;

    border-bottom: 0.2vh solid white;

    .logo {
        user-select: none;
        height: 11vh;
        margin-top: 1.5vh
    }

    .name {
        font-family: 'Aspect';
        float: right;
        color: green;
        font-size: 2vh;
        user-select: none;
        margin-top: 4vh;
        margin-right: 2vh;
    }

    .balance {
        // position: absolute;
        font-family: 'Aspect';
        float: right;
        color: green;
        font-size: 2vh;
        user-select: none;
        margin-right: -15vh;
        margin-top: 7.5vh;
    }
}