.transcationsContainer {
    position: absolute;

    top: 17.5vh;
    height: 76.4%;
    width: 110vh;
    right: 14vh;

    overflow-y: scroll;

    .transactionHeader {
        user-select: none;
        font-family: 'AspectDev';
        color: white;
        font-size: 3vh;

        padding: 1vh 1.25vh 0;
        // text-decoration: underline;
    }

    .moreButton {
        top: 2vh;
        margin-left: 50vh
    }
}