.Wrapper {
    height: fit-content;
    width: 35vw;

    background-color: #0A0D10;
    border-radius: 1vh;
    
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.611));

    .ModalHeader {
        position: absolute;
        user-select: none;

        margin-left: 2vh;
        
        font-family: 'Aspect';
        font-size: 5vh;
        color: white;
    }

    .ButtonContainer {
        float: right;
        margin: 2vh 3.1vh;
    }
}